<div class="container-fluid mt4 w-50">
    <form class="bootstrap_5_layout.html.twig" method="post" action="{{ path('app_commentary_delete', {'id': commentary.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentary.id) }}">
        <button class="bg-danger border-danger w-50">Delete</button>
    </form>
</div>