{% extends 'base.html.twig' %}

{% block title %}New Commentary{% endblock %}

{% block body %}
    <h1>{{ 'Create new Commentary' | trans }}</h1>

    {{ include('commentary/_form.html.twig') }}

{% endblock %}
