{% extends 'base.html.twig' %}

{% block title %}Commentary{% endblock %}

{% block body %}
    <h1>Commentary</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentary.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ commentary.message }}</td>
            </tr>
        </tbody>
    </table>


    <a class="w-25" href="{{ path('app_commentary_edit', {'id': commentary.id}) }}"><button class="bg-success border-success w-100">Edit</button></a>

    {{ include('commentary/_delete_form.html.twig') }}
{% endblock %}
