<form class="w-25 mt-4" method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="bg-danger border-danger w-100 margin_left_button">Delete</button>
</form>
